$type-bug: #9bba48;
$type-dark: #595761;
$type-dragon: #2c6ac1;
$type-electric: #d4bc34;
$type-fairy: #e296e1;
$type-fighting: #c44d61;
$type-ground: #ce8056;
$type-ice: #71baac;
$type-normal: #909090;
$type-poison: #ac6aca;
$type-psychic: #eb8b85;
$type-rock: #84beb3;
$type-ghost: #616eb7;
$type-grass: #73b861;
$type-steel: #6594a1;
$type-water: #4f77be;
$type-fire: #e96303;
$type-flying: #758cbd;
$blue-primary: #3f5db3;

// Definição das classes
.btn-bug {
  background-color: $type-bug;
}

.btn-dark {
  background-color: $type-dark;
}

.btn-dragon {
  background-color: $type-dragon;
}

.btn-electric {
  background-color: $type-electric;
}

.btn-fairy {
  background-color: $type-fairy;
}

.btn-fighting {
  background-color: $type-fighting;
}

.btn-ground {
  background-color: $type-ground;
}

.btn-ice {
  background-color: $type-ice;
}

.btn-normal {
  background-color: $type-normal;
}

.btn-poison {
  background-color: $type-poison;
}

.btn-psychic {
  background-color: $type-psychic;
}

.btn-rock {
  background-color: $type-rock;
}

.btn-ghost {
  background-color: $type-ghost;
}

.btn-grass {
  background-color: $type-grass;
}

.btn-steel {
  background-color: $type-steel;
}

.btn-water {
  background-color: $type-water;
}

.btn-fire {
  background-color: $type-fire;
}

.btn-flying {
  background-color: $type-flying;
}
